.calculator{
    display: flex;
    flex-direction: column;
}

.display{
    width: 500px;
    height: 200px;
    border: solid;
}

.buttons{
    display: flex;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
}

.symbols{
    display: flex;
    flex-direction: column;
}